body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4169e1;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #708090 3px solid;
}

header h1 {
    margin: 0;
    text-align: center;
    padding-bottom: 20px;
}

nav {
    text-align: center;
    padding-bottom: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 20px;
}

nav a:hover {
    color: #191970;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 5px;
}

